* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color:white ;
    background-color: black;
    font-family: $roboto;
    button:focus { 
        outline:0 !important; 
    }
}