* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* h1, * h3, * h4 {
  font-weight: normal;
}

* li {
  list-style: none;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-image: url(/Background-image.jpg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #f9ffe3;
  z-index: 1;
}

.blue {
  color: #aed8ff;
}

.Fed {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Fed h1 {
  font-size: 76px;
}

.Fed p {
  font-size: 33px;
}

nav {
  top: 0;
  margin: 0;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 5;
}

.anim-nav {
  background-color: #489494;
  color: #f9ffe3;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 3vh;
  float: right;
}

.nav-links li {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  padding: 17px;
  opacity: 86%;
  font-size: 20px;
}

.nav-links li:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 100%;
  color: #aed8ff;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: absolute;
  top: 1vh;
  left: 2vw;
}

.name h1 {
  font-size: 30px;
}

.burger {
  position: absolute;
  right: 16px;
  top: 10px;
  display: none;
  cursor: pointer;
  z-index: 40;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #0e0e0e;
  color: #0e0e0e;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2f575c;
  font-size: 30px;
  padding-top: 15vh;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15vh;
  width: 100%;
  padding-bottom: 20vh;
}

.service ul h3 {
  text-transform: uppercase;
  padding-bottom: 3vh;
  color: #489494;
}

.service ul h1 {
  position: absolute;
}

.service ul li {
  padding-bottom: 5vh;
  text-align: center;
}

.service ul i {
  font-size: 50px;
  padding-bottom: 4vh;
  color: #2f575c;
}

.div1 {
  width: 100%;
}

.custom-shape-divider-top-1611401997 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1611401997 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 85px;
  background-color: #e0e0e0;
  opacity: 80%;
}

.custom-shape-divider-top-1611401997 .shape-fill {
  fill: white;
}

.portfolio {
  background-color: #e0e0e0;
  opacity: 80%;
  width: 100%;
  height: 40vh;
}

.portfolio h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.portfolio .coming-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.custom-shape-divider-bottom-1611419130 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1611419130 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 85px;
  background-color: #e0e0e0;
  opacity: 80%;
}

.custom-shape-divider-bottom-1611419130 .shape-fill {
  fill: #FFFFFF;
}

.contactMe {
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.contactMe h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactMe h2 {
  color: #5f5f5f;
  padding-bottom: 2vh;
}

.contactMe .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactMe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 53%;
}

.contactMe .container .email {
  padding-bottom: 6vh;
}

.contactMe .container textarea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: #9b9b9b;
  height: 40vh;
  outline: none;
  padding: 10px;
  border-radius: 3px;
}

.contactMe .container h2 {
  font-weight: lighter;
  color: #8f8f8f;
}

.contactTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10vh;
  color: #489494;
}

#email {
  height: 8vh;
  width: 25vw;
  border: solid #9b9b9b 0.5px;
  border-radius: 3px;
  outline: none;
  padding: 10px;
}

#name {
  height: 8vh;
  width: 25vw;
  border: solid #9b9b9b 0.5px;
  border-radius: 3px;
  outline: none;
  padding: 10px;
}

.send {
  padding: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send button {
  border: solid 2px #489494;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  color: #489494;
  cursor: pointer;
  outline: none;
}

.send button:hover {
  background-color: #489494;
  color: white;
}

footer {
  background-color: #0e0e0e;
  height: 50vh;
  margin: 0;
  width: 100%;
}

footer h2 {
  color: #f9ffe3;
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-weight: 100;
  padding: 60px;
}

#Contact {
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.links i {
  font-size: 25px;
  color: #f9ffe3;
  opacity: 70%;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 20px;
}

.links i:hover {
  opacity: 100%;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f9ffe3;
  background-color: black;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  header .Fed h1 {
    font-size: 50px;
  }
  .box1 {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8vh;
  }
  .nav-links {
    right: 0px;
    height: 12vh;
    top: 0vh;
    color: #489494;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-transition: -webkit-transform 0.6s ease-in;
    transition: -webkit-transform 0.6s ease-in;
    transition: transform 0.6s ease-in;
    transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
    z-index: 900;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .burger {
    display: block;
  }
  .burger div {
    background-color: #f9ffe3;
  }
  .service {
    width: 100%;
    padding: 0;
  }
  .services {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .services li {
    width: 60%;
    text-align: center;
  }
  .services ul {
    width: 100%;
  }
  .coming-soon {
    font-size: 30px;
  }
  .contactTitle {
    font-size: 15px;
    text-align: center;
  }
  .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #name {
    width: 100%;
  }
  #email {
    width: 100%;
  }
  .box textarea {
    height: 4vh;
  }
  .copyright {
    font-size: 10px;
  }
  footer i {
    font-size: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    background-color: #489494;
    color: #f9ffe3;
  }
}

@media screen and (min-width: 760px) {
  .services {
    width: 100%;
  }
  .services li {
    width: 20%;
  }
  .coming-soon h3 {
    font-size: 40px;
  }
  .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: black;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: black;
}
/*# sourceMappingURL=style.css.map */